
body{
    background-color: #2754fd;
    color:white;
    font-family:inter,arial;

}

.point{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
   display:inline-block;
}

ul,.menu_list{
    list-style-type: none;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
}
li a{
    text-decoration:none;
    color:white;
}
header
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:23px 40px 30px 40px;
    border-bottom:1px solid white;
}
.menu_title{
    font-size:2rem;
    margin-top:10px;
    cursor:pointer;
    font-weight:100;
    font-family:'Franklin' Arial, sans-serif;
}
.block{
display:grid;
grid-template-columns:550px auto;
}
.Stats{
    display:grid;
    grid-template-rows:230px 230px;
    
    border-left:1px solid white;
    
}
.up{
    display:grid;
    grid-template-columns:repeat(2,1fr);
   padding:0 0 0 25px;
    border-bottom:1px solid white;
}
.down{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    padding:0 0px 0 25px;
    /*border-bottom:1px solid white;*/
}
.stats4,.stats2{
    padding: 20px 10px 20px 20px;
    position: relative;
    border-left:1px solid white;
}
.stats3,.stats1{
    padding: 20px 10px 0px 5px;
    position:relative;
    padding-top:20px;
}
.Hero{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:20px 40px;
    flex:1 0 0;
}
.stats2 h2{
    top:5px;
}
.Hero h1{
    font-size:3rem;
    font-weight:500;
    width:330px;
    margin-bottom:10px;
    
}
.Hero h6{
    font-size:0.870rem;
    font-weight:400;
    width:270px;
    color: #ffffffb8;
}
.stats1 h2,.stats2 h2,.stats3 h2,.stats4 h2{

    position:absolute;
    top:15px;
    right:24px;
}
.stats1 h6 ,.stats2 h6,.stats3 h6,.stats4 h6{
    position:absolute;
    bottom:17px;
    color: #ffffffdd;
}
.stats1 h5 ,.stats2 h5,.stats3 h5,.stats4 h5{
    position:absolute;
    bottom:37px;
}
footer{
    border-top:1px solid white;
    display:flex;
    flex-flow:row wrap;
    
    justify-content:space-between;
    padding:20px 20px 0 50px;

}
footer p{
    font-size: 16px;
}
.ops{
   background-color: rgba(0, 0, 0, 0.29);
   border: #ffffffc4;
}
.X{
    color: #fff;
    background-color: #0037ff;
    padding: 5px;
    cursor: pointer;
}
*{
    padding-bottom: 0;

    margin: 0;
}
  .menu_list{
        position: fixed;
      top: 60px;
      right: 0;
      width: 30%;
      background: #0037ff;
      display:flex;
      height: 50vh;
      flex-flow:column wrap;
      justify-content:space-around;
      align-items:flex-start;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      float: right;
      z-index: 1000;
    }

@media (max-width:767px){
 body                {
    padding: 0;
    margin: 0;
 }
    .menu_list{
        position: fixed;
      top: 40px;
      right: 0;
      width: 100%;
      background: #0037ff;
      display:flex;
      flex-flow:column wrap;
      justify-content:space-around;
      align-items:center;
      box-shadow: 0 2px 8px rgba(0,0,0,0.2);
      float: right;
      z-index: 1000;
    }
    .menu_list li a{
        color:#fff;
    }
    header{
        width:100%; 
        padding:10px 20px 20px 20px;
    }
    nav{
        margin-bottom:-10px;
    }
    .block{
        display:grid;
        width: 100%;
        grid-template-columns:1fr;
        padding:23px 0px 30px 0px;
        gap:40px;
        
    }
    .Hero{
        width:100%;
        justify-content:center;
        align-items:center;
        gap:28px;
        padding:50px 0px 30px 26px;
    }
    .Hero h1{
        width:100%
    }
    .Hero h6{
        width:100%;
        font-size:1.17rem;
        font-weight:100;
    }
    .Stats{
        display:grid;
        width: 100%;
        
        grid-template-rows:repeat(2,1fr);
        
    }
    .up{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px;
        padding:20px 0 20px 0;
        border-bottom:none;
        gap:30px;

    }
    .down{
         display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px;
        padding:10px 0 0 0px;
        gap:30px;
    }
    .stats4,.stats2,.stats1,.stats3{
        border-left:none;
        width: 100%;
        border-top:1px solid white;
    }
    .stats1 img,.stats3 img{
        position: absolute;
        left: 20px;
    }
    .stats1 h5,.stats3 h5, .stats1 h6,.stats3 h6{
            left :25px;
    }
     .stats2 h5,.stats4 h5, .stats2 h6,.stats4 h6{
            left :25px;
    }
     .stats1 h2,.stats3 h2, .stats2 h2,.stats4 h2{
            top :20px;
    }
    footer{
        padding:25px;
    }
    .attribution{
        font-size:0.7rem;
        margin-bottom:7px;
    }
}